.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.claude/settings.local.json
Resources/awesome-megadrive-main.zip
Resources/MD/Accolade_Sound_Document.pdf
Resources/MD/Accolade_Z80_Document_-_1.pdf
Resources/MD/Accolade_Z80_Document_-_2.pdf
Resources/MD/Genesis_Software_Development_Manual_Version_2.0_1991-07-09.pdf
Resources/MD/Genesis_Software_Manual.pdf
Resources/MD/Genesis_Sound_Software_Manual_-_21-_02_-_1992.pdf
Resources/MD/GenesisTechnicalBulletins.pdf
Resources/MD/GenesisTechnicalOverview.pdf
Resources/MD/SegaGenesisQuickReference_1991-04-08.pdf
Resources/MD/SegaGenesisSoftwareManual_1990-02-06.pdf
Resources/MD/SNASM68K_Console_and_Z80_Notes.pdf
Resources/MD/The_SN76489_Sound_Chip.pdf
.claude/settings.local.json
